{% extends 'base.html.twig' %}

{% block title %}Packs{% endblock %}
{% block search %}
    <input id="myInput" onkeyup="myFunction()" class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
    {% endblock %}
{% block body %}
    <h1>Packs</h1>
    <!-- DATA TABLE -->
    <div class="table-data__tool">
        <div class="table-data__tool-left">

            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                <a href="{{ path('pack_index_prix') }}"> <i class="zmdi zmdi-plus"></i>Sort by price</a></button>
                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <a href="{{ path('pack_index_name') }}"> <i class="zmdi zmdi-plus"></i>Sort by name</a></button>
                 </div>
        <div class="table-data__tool-right">
            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                <a href="{{ path('pack_new') }}"> <i class="zmdi zmdi-plus"></i>add item</a></button>

        </div>

    </div>
    <div class="table-responsive table-responsive-data2">
        <table id="myTable" class="table table-data2">
            <thead>
            <tr>

                <th>#</th>
                <th>name</th>
                <th>description</th>
                <th>price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for pack in packs %}
            <tr class="tr-shadow">
                <td>{{ pack.id }}</td>
                <td>
                    <span class="block-email">{{ pack.nom }}</span>
                </td>
                <td class="desc">{{ pack.description }}</td>
                <td>{{ pack.prix }}</td>
                <td>
                    <div id="myTable" class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Show">
                            <a href="{{ path('pack_show', {'id': pack.id}) }}"><i class="fa  fa-tasks"></i></a>
                        </button>
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                            <a href="{{ path('pack_edit', {'id': pack.id}) }}"><i class="zmdi zmdi-edit"></i></a>
                        </button>

                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="bottom">
        <div class="navigation">
            {{ knp_pagination_render(packs) }}
        </div>
        <div class="table-data__tool-right">
            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                <a href="{{ path('pack_pdf') }}"> <i class="zmdi zmdi-plus"></i>Generate PDF</a></button>
        </div>
    </div>
    </div>
    <!-- END DATA TABLE -->


{% endblock %}